
<form id="homeForm" (ngSubmit)="sendData()" autocomplete='off' [formGroup]='homeForm' class="m-2">

    <!--*******AREA*******-->
    <div class="border border-warning border-3 rounded mb-3 p-4">
        <h5 class="text-warning">AREA</h5>
    
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="col input-group mb-3">
                <span class="input-group-text">Width</span>
                <input type="text" class="form-control" formControlName="areaSizeX">
            </div>
                <span class="form-text text-danger"
                    *ngIf="isValid('areaSizeX')">
                    Debe ser un número mayor que 0
                </span>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="col input-group mb-3">
                <span class="input-group-text">Height</span>
                <input type="text" class="form-control" formControlName="areaSizeY">
            </div>
                <span class="form-text text-danger"
                    *ngIf="isValid('areaSizeY')">
                    Debe ser un número mayor que 0
                </span>
            </div>           
        </div>
    </div>
    <!--*******ROVER*******-->
    <div class="border border-warning border-3 rounded mb-3 p-4">
        <h5 class="text-warning">ROVER</h5>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="col input-group mb-3">
                    <span class="input-group-text">Position X</span>
                    <input type="text" class="form-control" formControlName="positionX">
                </div>
                <span class="form-text text-danger"
                    *ngIf="isValid('positionX')">
                    Debe ser un número mayor que 0
                </span>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="col input-group mb-3">
                    <span class="input-group-text">Position Y</span>
                    <input type="text" class="form-control" formControlName="positionY">
                </div>
                <span class="form-text text-danger"
                    *ngIf="isValid('positionY')">
                    Debe ser un número mayor que 0
                </span>
            </div>   
            <div class="col-xs-12 col-md-4">
                <div class="col input-group mb-3">
                    <span class="input-group-text">Orientation</span>
                    <select class="form-select" formControlName="orientation">
                        <option value="1">N</option>
                        <option value="2">S</option>
                        <option value="3">E</option>
                        <option value="3">W</option>
                    </select>
                </div>
                <span class="form-text text-danger"
                    *ngIf="isValid('orientation')">
                    Debes seleccionar un elemento
                </span>
            </div>             
        </div>
    </div>

    <!--*******COMMANDS*******-->
    <div class="border border-warning border-3 rounded mb-3 p-4">
        <h5 class="text-warning">INSERT COMMANDS</h5>
        <div class="text-center">

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" (click)="saveLeft()">Left</button>
                <button type="button" class="btn btn-primary" (click)="saveAdvance()">Advance</button>
                <button type="button" class="btn btn-primary" (click)="saveRight()">Right</button>
                
            </div>
            <div class="">
                <fieldset disabled>
                <input type="text" class="form-control text-primary fs-2 fw-bold m-2 bg-white border-0 text-center" formControlName="commandsInput" [ngModel]="this.commandsTxt">
                </fieldset>
                <span class="form-text text-danger"
                    *ngIf="isValid('commandsInput')">
                    Tienes que definir la linea de comandos
                </span>
            </div>

        </div>
       
    </div>   

    <!--*******SUBMIT*******-->
        <div class="d-flex justify-content-center">
            <button type="submit" 
                class="btn btn-warning fw-bold text-light" [disabled]="homeForm.invalid">
                START
            </button>
        </div>
   
</form>


<!--
<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{homeForm.valid}}</pre>
    </div>
    <div class="col">
        <span>Pristine</span>
        <pre>{{homeForm.pristine}}</pre>
    </div>
    <div class="col">
        <span>Touched</span>
        <pre>{{homeForm.touched}}</pre>
    </div>
    <div class="col">
        <span>Value</span>
        <pre>{{homeForm.value | json}</pre>
    </div>
    
</div>
-->