
<table class="table table-bordered border-primary">
  <tbody >
          <tr *ngFor = "let item of tableX ">
              <td id="" class="table-dark" *ngFor = "let item of tableY">celda</td>
          </tr>          
  </tbody>
</table>

  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Dentro?</div>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Orientation</div>
      </div>
      <span class="badge bg-primary rounded-pill">{{this.rover.roverOrientation}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Coordenate X</div>
      </div>
      <span class="badge bg-primary rounded-pill">{{this.rover.roverX}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Coordenate Y</div>
        </div>
        <span class="badge bg-primary rounded-pill">{{this.rover.roverY}}</span>
      </li>
</ul>